<head>
    <meta charset="utf-8" />
    <meta name="keyword" content="{{global.keyword}}" />
    <meta name="description" content="{{global.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>{{title.name}}</title>
    <link rel="stylesheet" href="{{global.root}}/css/normalize.css" type="text/css" media="screen" charset="utf-8" />
    <script src="{{global.root}}/js/require.js"></script>
</head>